user4.docx
user0.docx
__pycache__/
ILASPcode/__pycache__/
ILASPcode/local/local/__pycache__/
ILASPcode/local/local/Data/final/users/zero/test/
ILASPcode/local/local/Data/final/users/zero/train/
ILASPcode/local/local/Data/sampled-recipes-zero/train190_gauss/
ILASPcode/local/local/Data8Component2Std/final/users/zero/test/
ILASPcode/local/local/Data8Component2Std/final/users/zero/train/
ILASPcode/local/local/Data8Component2Std/sampled-recipes-zero/train190_gauss/std-1/
ILASPcode/local/local/Data17Component2Std/final/users/zero/test/
ILASPcode/local/local/Data17Component2Std/final/users/zero/train/
ILASPcode/local/local/Data17Component2Std/sampled-recipes-zero/train190_gauss/
ILASPcode/Data/plots/
ILASPcode/Data8Component2Std/plots/
ILASPcode/Data8Component2Std/plots_original/
ILASPcode/Data17Component2Std/plots/
NN_data/allPlots/
NN_data/plots_gauss/
ILASPcode/Data/users/
ILASPcode/Data/users_new_version/
ILASPcode/Data8Component2Std/users/
ILASPcode/Data8Component2Std/users_new_version/
ILASPcode/Data8Component2Std/users_original/
ILASPcode/Data17Component2Std/users_new_version/
ILASPcode/Data17Component2Std/users_original/
*.png
*.jpg
